@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Nancy.Validation;
@using Bilin3d.HtmlExtensions;
@using System.Collections.Generic;

@{
    Layout = "_Layout.cshtml";
}

@section BreadCrumbs {
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">购物车</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">首页</a></li>
                <li class="active">购物车</li>
            </ul>
        </div><!--/container-->
    </div>
}

@section Javascript {
    <script>
        $(function () {
            $("#jiezhang").click(function () {              
                $.ajax({
                    url: '/account/checkcar',
                    data:$("form").serialize(),
                    type: 'POST',  
                    success: function (data) {
                        window.location = "/account/checkout";
                        return;
                    },
                    error: function (data) {
                        if (data.status == "400") {
                            //alert("失败了");
                        }
                        var str = "";
                        $.each(JSON.parse(data.responseText), function (index, item) {
                            str += "<p>" + item["errorMessage"] + "</p>"
                        });
                        //alert(str);
                        $("#error").show();
                        $("#errormessage").html(str);
                        $('body').animate({ scrollTop: 0 }, 500);
                    }
                });
            });
        });
    </script>
}

<div class="row">

    <div class="alert alert-danger alert-dismissible fade in" role="alert" id="error" style="display:none;">
        <h4>请认真填写信息!</h4>
        <div id="errormessage"></div>
    </div>
    
    <table class="table text-center table-bordered" id="checkcartable">
        <tr class="active checkcar">
            <td class="col-md-3">商品</td>
            <td>规格</td>
            <td>单价</td>
            <td>数量</td>
            <td>合计</td>
            <td class="col-md-1">操作</td>
        </tr>
                @if (Model.Cars.Count > 0) {
                    <form method="post">
                        <input type="hidden" name="carid" value="@Model.Cars[0].CarId" />
                        @foreach (var item in Model.Cars) {
                            <tr class="cartr carli">
                                @{ var filename = item.FileName.Split('$');}
                                <td class="td">
                                    <input type="hidden" name="cardetailid" class="cardetailid" value="@item.CarDetailId" />
                                    <ul>
                                        <li><a href="" target="_blank">@filename[filename.Length - 1]</a></li>
                                        <li>材料：@item.MatDensity</li>
                                        <li>颜色: @item.MatColor</li>
                                        <li>精度: @item.Accuracy</li>
                                        <li>交货周期：@item.Delivery</li>
                                    </ul>
                                </td>
                                <td class="td">
                                    <ul class="gui">
                                        <li>尺寸：@item.Size</li>
                                        <li>表面积: @item.Area</li>
                                        <li>重量: @item.Weight</li>
                                    </ul>
                                </td>
                                <td>￥@item.Price</td>
                                <td>
                                    <div>
                                        <a class="prev">-</a>
                                        <input class="num" type="text" name="num" readonly value="@item.Num">
                                        <a class="next">+</a>
                                        <input class="price"  type="hidden" value="@item.Price" />
                                        <input class="price1" type="hidden" value="@item.Price1" />
                                    </div>
                                </td>
                                <td class="AmountDetail" style="font-size:16px;">
                                    ￥<span class="amount-detail">@item.AmountDetail</span>元
                                    <div style="font-size:12px;color:#999;">单次最低价格:￥@item.Price1</div>
                                </td>
                                <td>
                                    <a class="btn btn-u btn-brd btn-primary btn-sm delcar" delurl="/print/material/del/@item.CarDetailId-@item.CarId">删除</a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="6" style="text-align:left;padding:28px 35px 20px 35px;">
                                <p>注意：当您的订单中包含多件商品时，发货时间将以最晚出货的产品为准。</p>
                                <p>如有特殊需求，请在订单备注里说明，或者拨打+86-595 28869023与在线客服联系。</p>
                                <div class="pull-right block">
                                    <h4>商品总额 : ￥<span class="totalprice">@Model.Cars[0].Amount</span> 元</h4>
                                    <h4>订单总额 : ￥<span class="totalprice">@Model.Cars[0].Amount</span> 元</h4>
                                    <button id="jiezhang" type="button" class="btn btn-u pull-right" style="padding:14px 40px;font-weight:bold;font-size:18px;">去结账</button>
                                </div>


                            </td>
                        </tr>
                    </form>

                } else {
                        <tr>
                            <td colspan="6"><h1>您的购物车内没有商品！</h1></td>
                        </tr>
                        }
</table>
</div>
