@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = "_Layout.cshtml";
}

@section Javascript{
    <script>
        $(function () {
            $('.hoverSelector').on('hover', function (e) {
                $('.hoverSelectorBlock', this).toggle('show');
                e.stopPropagation();
            });
        });
    </script>
}

<div class="row">
<div class="col-lg-12">
    <h1 class="page-header">订单</h1>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            最新订单
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <table class="table" style="border-top:0px;">
                <tr class="active" style="color:gray;">
                    <td class="text-center">订单详情</td>
                    <td class="text-center" style="width:130px;">收货人</td>
                    <td class="text-center" style="width:130px;">总计</td>
                    <td class="text-center" style="width:180px;">
                       
                        <!-- Single button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (Request.Query["name"] == null) {
                                    <text>全部状态</text>
                                } else {
                                    @Request.Query["name"]
                                }
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li @if (Request.Query["state"] == null) { <text> class="active" </text>     }><a href="/bilinadmin/order">全部状态</a></li>
                                @foreach (var item in Model.OrderStates) {
                                    <li @if (Request.Query["state"].Value == item.Id.ToString()) { <text> class="active" </text>     }><a href="/bilinadmin/order?state=@item.Id&name=@item.StateName">@item.StateName</a></li>
                                }
                            </ul>
                        </div>

                    </td>
                </tr>
            </table>
            @foreach (var item in Model.Orders) {
                <table class="table table-bordered ordertable">
                    @{
                var createtime = item.Value[0].CreateTime;
                var consignee = item.Value[0].Consignee;
                var statename = item.Value[0].StateName;
                var stateid = item.Value[0].StateId;
                var amount = item.Value[0].Amount;
                var address = item.Value[0].Address;
                    }
                    <tr class="active" style="color:gray;">
                        <td colspan="4"><span class="order-time">@createtime</span>   订单号：<a href="/account/order/@item.Key" target="_blank">@item.Key</a></td>
                    </tr>
                    <tr>
                        <td>
                            @{
                var count = item.Value.Count;
                var index = 0;
                            }
                            @foreach (var ev in item.Value) {
                                index++;
                                var filename = ev.FileName.Split('$');
                                <div style="float:right;padding:0px 200px 0px 0px;color:gray;">x @ev.Num</div>
                                <div @if (index < count) { <text> class="order-padding order-border" </text>    } else { <text> style="padding-bottom:0px;margin-bottom:0px;" class="order-padding" </text>    }>
                                    <div>文件：<a target="_blank" href="~/Content/uploads/3d/@ev.FileName" download="@filename[filename.Length - 1]">@filename[filename.Length - 1]</a></div>
                                    <div>尺寸：@ev.Size</div>
                                    <div>表面积：@ev.Area</div>
                                    <div>体积：@ev.Volume</div>
                                    <div>重量：@ev.Weight 克</div>
                                </div>
                            }

                        </td>
                        <td class="text-center" style="width:130px;">
                            @consignee
                            <p>@address</p>
                        </td>
                        <td class="text-center" style="width:130px;"><b>￥@amount</b></td>
                        <td class="text-center" style="width:180px;padding:16px 12px 0px 12px !important;">
                            @statename
                            @if (stateid == "1") {
                                <div><button type="button" class="btn-u btn-u-sm btn-sm" style="width:80px;font-size:14px;">立即付款</button></div>
                            }
                        </td>
                    </tr>

                </table>
            }  
           
            <!-- /.table-responsive -->
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->     